if SHIELD_LILIUM_LEFT

config ZMK_KEYBOARD_NAME
    default "LiLium"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_LILIUM_LEFT || SHIELD_LILIUM_RIGHT

config ZMK_SPLIT
    default y

endif